.title {
  margin: 25px auto;
  width: fit-content;
}

.formContainer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: var(--card-bg-color);
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.removeBtn {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 8px;
  right: 10px;
  border: none;
  outline: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  background-color: var(--red-color);
  font-weight: 7s00;
  cursor: pointer;
}

.removeBtn:disabled {
  opacity: 0.3;
}
