.container {
  width: 100%;
  max-width: 600px;
  height: max-content;
  margin: 50px auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  border-radius: 10px;
  background-color: var(--card-bg-color);
  color: var(--text-color);
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);

  button {
    width: 100%;
  }
}

.cardLabels {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.editDate {
  margin-left: auto;
  font-size: 12px;
  font-style: italic;
}

.cardTitle {
  font-size: 24px;
  line-height: 28px;
}

.cardDescription {
  font-size: 18px;
  line-height: 24px;
}

.cardAnswers {
  margin-top: auto;
  opacity: 0.65;
}

.cardAnswer {
  font-size: 14px;
  font-style: italic;
  text-align: justify;
}

.cardResources {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;

  li {
    margin-left: 15px;
  }
}

.cardCheckbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  span {
    font-size: 14px;
    padding-bottom: 2px;
  }
}

.checkbox {
  width: 18px;
  height: 18px;
  accent-color: #16c47f;
  cursor: pointer;
}
